<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="MotMot logo" src="https://static.wixstatic.com/media/b617c5_d16f72f9560840c082ccafbb2b7e0a02~mv2.png">
</div>
<h2>Hello, let's start creating html pages now! </h2>
<h3>It is going to be fun!</h3>
<h4>Good luck!</h4>
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

